{% extends "base.html" %}

{% block title %}
  Записи Автора {{ post.author.username }}
{% endblock %}

{% block content %}
      <div class="container py-5">
        <h1>Все посты пользователя {{ post.author.username }} </h1>
        <h3>Всего постов: {{ count }} </h3>
        {% for post in page_obj %}
            <article>
              {% include "includes/single_post.html" %}
              <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
            </article>
            {% if not forloop.last %}
              <hr>
            {% endif %}
        {% endfor %}
          {% include 'posts/includes/paginator.html' %}
      </div>
{%endblock%}